.button-p{
    padding: 10px;
    border: none;
    background-color: var(--oro);
    border: 4px solid var(--oro);
    font: var(--button);
    border-radius: 10px;
}

.button-p:hover{
    background: none;
    color: crimson;
}

.button{
    margin: 20px;
    padding: 10px;
    border: 2px solid var(--black);
    background-color: var(--black);
    color: white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font: var(--button)
}

.button:hover{
    background: none;
    color: var(--black);
}

.button-slider{
    padding: 10px;
    border: 2px solid var(--black);
    background-color: black;
    color: white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font: var(--button)
}

.button-slider:hover{   
    background: none;
    color: var(--black);
}