.container-slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}

.slider-section{
    width: 100%;
}

/*Extra*/
.publicidad{
    color: black;
    font: var(--body1);
    background-color:rgba( 208, 211, 29, .8);
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.publicidad >*{
    padding:10px;
}

/*Fin extra*/

.slider-img{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.primera{
    background: url("../img/internet.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.segunda{
    background: url("../img/camara.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tercera{
    background: url("../img/programar.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cuarta{
    background: url("../img/redes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Sin cambios*/

.slider-btn{
    position: absolute;
    background-color: rgba(255,255,255,.8);
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}

.slider-btn:hover{
    background-color: white;
}

.slider-btn-right{
    right: 10px;
}

.slider-btn-left{
    left: 10px;
}

@media screen and (max-width: 660px){
    .publicidad{
        width: 240px;
    }
}

@media screen and (max-width: 360px){
    .publicidad{
        width: 150px;
    }
}